/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.aba-pesquisa {
    width: 100%;
    max-width: 400px; /* Largura máxima da barra de pesquisa */
    margin: 30px auto; /* Ajuste a margem superior conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
}

.aba-pesquisa__input {
    flex: 1;
    height: 28px;
    padding: 0 8px;
    border: #13678a solid 2px;
    border-radius: 14px;
}

.aba-pesquisa__lupa {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 8px;
}

/* Estilos para a seção de projetos */
#menu {
    padding: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 10px;
}

.section-subtitle {
    text-align: center;
    margin-bottom: 30px;
}

/* Estilos para os pratos (projetos) */
#dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.dish {
    width: calc(33.33% - 20px); /* 3 pratos por linha com espaçamento */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .dish {
        width: calc(50% - 20px); /* 2 pratos por linha em telas menores */
    }
}

@media screen and (max-width: 480px) {
    .dish {
        width: calc(100% - 20px); /* 1 prato por linha em telas ainda menores */
    }
}

.dish-image{
    width: 500px;
}

.btn-default {
    background-color: #0d40e7; /* Cor de fundo verde */
    border: none;
    color: white;
    padding: 10px 20px; /* Espaçamento interno do botão */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px; /* Borda arredondada */
}

.btn-default:hover {
    background-color: #3da142; /* Mudança de cor ao passar o mouse */
}

/* Estilos adicionais para tornar o botão responsivo */
@media screen and (max-width: 600px) {
    .btn-default {
        font-size: 14px; /* Reduz o tamanho da fonte em telas menores */
    }
}

